!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/script.js")
    script(src="/javascripts/pure_min.js")
  body
    .container
      .span-24.last.center
        h1
          a(href="/") Temporary Email
        hr
        - if (flash.info)
          .info= flash.info
        != body